<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.391636096989-3ia5upj4gagrb0g8pbu03jmj6339ofrd</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSerifToto-VariableFont_wght.ttf</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Sync your contacts to create groups</string>
</dict>
</plist>
